@charset "utf-8";


/*scale1（メニューが大きく広がって基準サイズに戻る）
---------------------------------------------------------------------------*/
@keyframes scale1 {
	0% {transform: scale(0);}
	50% {transform: scale(2);}
	100% {transform: scale(1);}
}

/*rotate1（左右にスイング）
---------------------------------------------------------------------------*/
@keyframes rotate1 {
	0% {transform: rotate(0deg);}
	30% {transform: rotate(-10deg);}
	80% {transform: rotate(10deg);}
	100% {transform: rotate(0deg);}
}

/*opa1（透明から着色状態に）
---------------------------------------------------------------------------*/
@keyframes opa1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/*opa2（透明から着色状態に＆下からフェードイン）
---------------------------------------------------------------------------*/
@keyframes opa2 {
	0% {opacity: 0;top: 20px;}
	100% {opacity: 1;top: 0px;}
}

/*スライドショーのフレーム設定
---------------------------------------------------------------------------*/
@keyframes slide1 {
	0% {opacity: 0;transform: scale(1);}
	10% {opacity: 0;}
	15% {opacity: 1;}
	30% {opacity: 1;}
	35% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide2 {
	0% {opacity: 0;transform: scale(1);}
	15% {opacity: 0;}
	20% {opacity: 1;}
	35% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide3 {
	0% {opacity: 0;transform: scale(1);}
	20% {opacity: 0;}
	25% {opacity: 1;}
	40% {opacity: 1;}
	45% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide4 {
	0% {opacity: 0;transform: scale(1);}
	25% {opacity: 0;}
	30% {opacity: 1;}
	45% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide5 {
	0% {opacity: 0;transform: scale(1);}
	30% {opacity: 0;}
	35% {opacity: 1;}
	50% {opacity: 1;}
	55% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide6 {
	0% {opacity: 0;transform: scale(1);}
	35% {opacity: 0;}
	40% {opacity: 1;}
	55% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide7 {
	0% {opacity: 0;transform: scale(1);}
	40% {opacity: 0;}
	45% {opacity: 1;}
	60% {opacity: 1;}
	65% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide8 {
	0% {opacity: 0;transform: scale(1);}
	45% {opacity: 0;}
	50% {opacity: 1;}
	65% {opacity: 1;}
	70% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide9 {
	0% {opacity: 0;transform: scale(1);}
	50% {opacity: 0;}
	55% {opacity: 1;}
	70% {opacity: 1;}
	75% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide10 {
	0% {opacity: 0;transform: scale(1);}
	55% {opacity: 0;}
	60% {opacity: 1;}
	75% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide11 {
	0% {opacity: 0;transform: scale(1);}
	60% {opacity: 0;}
	65% {opacity: 1;}
	80% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}
@keyframes slide12 {
	0% {opacity: 0;transform: scale(1);}
	65% {opacity: 0;}
	70% {opacity: 1;}
	85% {opacity: 1;}
	90% {opacity: 0;}
	100% {opacity: 0;transform: scale(1.1);}
}